<footer class="custom-footer">
    <div class="container">
        <div class="row">
            <!-- Contact Us section -->
            <div class="col-lg-4 col-md-6 mb-4 footer-content">
                <h3 class="custom-footer-heading">Contact Us</h3>
                <p>sandhya@gmail.com</p>
                <p>Phone: +1 123456789</p>
                <p>Address: 123 toronto city</p>
            </div>

            <!-- Quick Links section -->
            <div class="col-lg-4 col-md-6 mb-4 footer-content">
                <h3 class="custom-footer-heading">Quick Links</h3>
                <ul class="list-unstyled">
                    <li><a class="custom-nav-link" href="/">Home</a></li>
                    <li><a class="custom-nav-link" href="#">About</a></li>
                    <li><a class="custom-nav-link" href="#">Services</a></li>
                    <li><a class="custom-nav-link" href="#">Products</a></li>
                    <li><a class="custom-nav-link" href="#">Contact</a></li>
                </ul>
            </div>

            <!-- Follow Us section -->
            <div class="col-lg-4 col-md-12 footer-content">
                <h3 class="custom-footer-heading">Follow Us</h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="custom-nav-link"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="custom-nav-link"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="custom-nav-link"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="custom-nav-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom bar -->
    </div>
    <div class="bottom-bar text-center py-3">
        <p>&copy; 2023 Guess the Word. All rights reserved</p>
        <p>Made with &#10084 by Sandhya Neupane</p>
    </div>
</footer>
